.bg-gradient{
    background-image: var(--bs-gradient);
}

/* .bg {
    background-image: url("../img/background.jpg");
    background-color: bisque;
    justify-content: center;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: auto;
} */

* {
    scroll-behavior: smooth;
}
/* body {
    margin-top: -10;
} */